[submodule "java"]
	path = java
	url = git@github.com:opscode-cookbooks/java.git
[submodule "chef-newrelic"]
	path = chef-newrelic
	url = git@github.com:escapestudios/chef-newrelic.git
[submodule "windows"]
	path = windows
	url = git@github.com:opscode-cookbooks/windows.git
[submodule "chef_handler"]
	path = chef_handler
	url = git@github.com:opscode-cookbooks/chef_handler.git
